.header {

  &__wrapper {

  }

  &__logo {
    margin: 0 auto;
  }

  .nav {
    text-align: center;
    margin: 0 auto;

    &__lang {
      margin: 15px auto;
    }
  }
}

.main {

}

.invoice-wrapper {
  margin: 10px;

  .invoice {
    max-height: 100%;

    &__header {
      text-align: center;
    }
  }
}

.payment-header {
  text-align: center;
}

.footer-wrapper {

  .footer {
    flex-direction: column;

    &__contacts {
      margin: 10px 0 10px 0;
    }

    &__payment-mathods {
      margin: 10px 0 10px 0;
      justify-content: space-evenly;
    }

    &__lang {
      margin: 10px 0 10px 0;
    }
  }
}