.header {

  &__logo {
    margin: 0 auto;
  }

  .nav {
    text-align: center;
    margin: 0 auto;

    &__lang {
      margin: 15px auto;
    }
  }
}


.container {

  .invoice {
    max-height: 100%;

    &__header {
      text-align: center;
    }
  }
}


.payment__header {
  text-align: center;
}


.footer-wrapper {

  .footer {
    flex-direction: column;

    &__contacts {
      margin: 10px 0 10px 0;
    }

    &__payment-mathods {
      margin: 10px 0 10px 0;
      justify-content: space-evenly;
    }

    &__lang {
      margin: 10px 0 10px 0;
      font-size: 11px;
      text-align: center;
    }

    &__rus {
      color: $black;
      position: relative;
      margin-left: 15px;
      letter-spacing: 1px;
      cursor: pointer;
      font: {
        weight: bold;
      }

      &:before {
        content: '';
        height: 20px;
        max-width: 1px;
        top: -3px;
      }
    }
  }
}